[submodule "javascript/jquery"]
	path = javascript/jquery
	url = https://github.com/jquery/jquery.git
[submodule "javascript/jquery-ui"]
	path = javascript/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "python/django"]
	path = python/django
	url = https://github.com/django/django.git
