[submodule "javascript/jquery"]
	path = javascript/jquery
	url = https://github.com/jquery/jquery.git
[submodule "javascript/jquery-ui"]
	path = javascript/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "python/django"]
	path = python/django
	url = https://github.com/django/django.git
[submodule "javascript/jquery-equalizebottoms"]
	path = javascript/jquery-equalizebottoms
	url = https://github.com/cowboy/jquery-equalizebottoms.git
[submodule "jquery-outside-events"]
	path = javascript/jquery-outside-events
	url = https://github.com/cowboy/jquery-outside-events.git
[submodule "jquery-resize"]
	path = javascript/jquery-resize
	url = https://github.com/cowboy/jquery-resize.git
[submodule "javascript/jquery-cookie"]
	path = javascript/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
